.container {
  width: 250px;
  height: 100vh;
  background-color: #121621;
  padding: 24px 16px;
}

.container .logo_lume {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.container .logo_lume .frame {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  padding: 4px;
  border-radius: 8px;
  border: 2px solid #e5e7eb;
}

.container .logo_lume .frame img {
  width: 100%;
  object-fit: cover;
}

.container .logo_lume .content {
  color: white;
  margin-left: 16px;
}

.container .logo_lume .content h3 {
  font-size: 14px;
}

.container .logo_lume .content p {
  font-size: 12px;
  color: #b5bcc4;
}

.container .buttons .button {
  margin-bottom: 4px;
  width: 100%;
  text-transform: capitalize;
  display: flex;
  justify-content: left;
  font-weight: 600;
  font-size: 14px;
  border-radius: 12px;
  background-color: #121621;
}

.container .buttons .button.active {
  background-color: #635bff;
}

.container .buttons .button .icon,
.container .buttons .button img {
  width: 20px;
  margin-right: 8px;
}

@media screen and (max-width: 1500px) {
  .container {
    width: 100px;
  }

  .container .logo_lume {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }

  .container .logo_lume .frame img {
    width: 32px;
    height: 32px;
    object-fit: cover;
  }

  .container .content {
    display: none;
  }

  .container .buttons .button {
    width: auto;
    display: flex;
    justify-content: center;
  }

  .container .buttons .button span {
    display: none;
  }

  .container .buttons .button .icon,
  .container .buttons .button img {
    width: 20px;
    margin-right: 0;
  }
}
