.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
}

.main {
  background-color: white;
  height: 100vh;
  width: 600px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 24px 20px 24px;
}

.header h1 {
  font-size: 18px;
  margin: 0;
}

.header .wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.content {
  padding: 0 24px 24px 24px;
}

.content label {
  width: 120px;
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  color: #6c737f;
  line-height: 166%;
}

.content input {
  width: calc(100% - 120px);
  margin-bottom: 16px;
  border-radius: 8px;
  background-color: #1119270a;
  border: 1px solid #e5e7eb;
  height: 32px;
  outline: none;
  box-shadow: 0px 1px 2px 0px #00000014;
  opacity: 0.81;
  padding: 8px 12px;
}

.form_wrapper {
  display: flex;
}

.textarea {
  width: calc(100% - 120px);
  min-height: 60px;
  border-radius: 8px;
  background-color: #1119270a;
  border: 1px solid #e5e7eb;
  outline: none;
  box-shadow: 0px 1px 2px 0px #00000014;
  opacity: 0.81;
  padding: 8px 12px;
  resize: vertical;
  font-family: inherit;
  font-size: 14px;
  max-height: 150px;
}

.button_wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}

.button_wrapper .add_button {
  border-radius: 12px;
  background-color: #635bff;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.08);
  font-size: 14px;
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 600;
}
