.container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  background-color: white;
  border-radius: 20px;
  width: 444px;
  height: auto;
  padding: 16px 24px;
}

.dialog h1 {
  color: #111927;
  font-size: 18px;
  font-weight: 700;
  margin-top: calc(29px - 16px);
}

.dialog p {
  font-size: 14px;
  font-weight: 400;
  color: #6c737f;
  margin: 16px 0px;
}

.dialog .buttons {
  display: flex;
  justify-content: right;
}

.dialog .buttons .button {
  border-radius: 12px;
  margin-left: 5px;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600;
}

.dialog .buttons .button:first-child {
  color: black;
}

.dialog .buttons .button:nth-child(2) {
  background-color: #635bff;
}
