.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75); /* Black w/ opacity */
}

.main {
  background-color: white;
  height: 100vh;
  width: 600px;
}

.main .header .wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 41px 24px 25px 24px;
}

.main .header .wrapper h1 {
  font-size: 18px;
}

.main .buttons {
  border-bottom: 2px solid #e5e7eb;
  margin-bottom: 24px;
}

.main .buttons .button {
  height: 40px;
  text-transform: capitalize;
  font-size: 14px;
  margin-left: 24px;
  border-radius: 0;
  color: #6c737f;
}

.main .buttons .active {
  color: #635bff;
  font-weight: 500;
  border-bottom: 4px solid #635bff;
}

.main .content {
  padding: 0px 24px;
}

.main .content .overview label {
  width: 120px;
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  color: #6c737f;
  line-height: 166%;
}

.main .content .overview input {
  width: calc(100% - 120px);
  margin-bottom: 16px;
  border-radius: 8px;
  background-color: #1119270a;
  border: 1px solid #e5e7eb;
  height: 27px;
  outline: none;
  box-shadow: 0px 1px 2px 0px #00000014;
  opacity: 0.81;
  padding: 10px;
}

.main .content .overview select {
  width: calc(100% - 120px);
  margin-bottom: 16px;
  border-radius: 8px;
  background-color: #1119270a;
  border: 1px solid #e5e7eb;
  outline: none;
  box-shadow: 0px 1px 2px 0px #00000014;
  opacity: 0.81;
  padding: 4px 6px;
  height: auto;
}

.main .content .overview .avatar_wrapper {
  display: flex;
  align-items: center;
  margin-bottom: -6px;
}

.main .content .overview .avatar_wrapper img {
  width: 64px;
  padding: 8px;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
}

.main .content .overview .button_wrapper {
  width: 100%;
  display: flex;
  justify-content: end;
}

.main .content .overview .button_wrapper .update_button {
  border-radius: 12px;
  background-color: #635bff;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.08);
  font-size: 14px;
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 600;
  align-self: flex-end;
}
